VITE_HIVE_HOST= (e.g:127.0.0.1)
VITE_HIVE_PORT= (eg:8788)
VITE_OPENROUTER_URL=https://openrouter.ai/api/v1
VITE_OPENROUTER_API_KEY=your_key_here
VITE_OLLAMA_URL
VITE_OLLAMA_CLOUD_API_KEY=your_key_here
VITE_HUGGINGFACE_URL
VITE_HUGGINGFACE_API_KEY=your_key_here
VITE_GEMINI_URL
VITE_GEMINI_API_KEY=your_key_here
